@import url('__container/popup__container.css');
@import url('__container/_picture/popup__container_picture.css');
@import url('__btn-close/popup__btn-close.css');
@import url('_visible/popup_visible.css');
@import url('__image/popup__image.css');
@import url('__title/popup__title.css');
@import url('_background/popup_background_dark.css');
@import url('_background/popup_background_light.css');
@import url('_fade-out/popup_fade-out.css');

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

