@import url('__section/page__section.css');

.page {
  margin: 0 auto;
  background: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  max-width: 882px;
}

@media screen and (max-width: 480px) {
  .page {
    font-size: 14px;
  }
}
