
@import url('__btn/profile__btn.css');

.profile {
  padding-top: 36px;
    display: grid;
    grid-template-columns: 150px 2fr 1fr;
    grid-template-areas: "image media button";
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 740px) {
  .profile {
    grid-template-columns: 150px 1fr;
    grid-template-areas:
    "image media"
    ". button";
    grid-auto-rows: min-content;
  }
}


@media screen and (max-width: 480px) {
  .profile {
    min-height: 286px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image"
    "media"
    "button";
    grid-auto-rows: min-content;
  }
  }




