.profile__btn {
  background-image: url('../../../images/plus.svg');
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-size: 22px 22px;
  grid-area: button;
  justify-self: end;
  background-color: #000;
}

@media screen and (max-width: 810px) {
  .profile__btn {
    justify-self: center;
    margin-top: 36px;
  }
}

@media screen and (max-width: 480px) {
  .profile__btn {
    width: 100%;
    max-width: 282px;
    background-size: 16px 16px;
  }
}
