.media__job {
  margin: 0;
  max-width: 380px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 810px) {
  .media__job {
    max-width: calc(80vw - 150px);
  }
}

@media screen and (max-width: 480px) {
  .media__job {
    text-align: center;
    max-width: calc(80vw - 19 * 2px);
    margin-top: 14px;
  }
}
