@import url('__btn/profile__btn.css');

.profile {
  padding-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-areas: 'media button';
  align-items: center;
}

@media screen and (max-width: 810px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      'media'
      'button';
    grid-auto-rows: min-content;
  }
}
