.header__logo {
  max-width: 173px;
  height: auto;
  padding-bottom: 41px;
  padding-top: 45px;
}

@media screen and (min-width: 320px) and (max-width: 882px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 126px;
    padding-top: 28px;
    padding-bottom: 32px;
  }
}
