.form__submit-btn {
  width: 100%;
  border-radius: 2px;
  color: #fff;
  border-style: none;
  font-weight: normal;
  margin-top: 48px;
  background-color: #000000;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 1.2;
}

.form__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .form__submit-btn {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 30px;
  }
}
