.popup__btn-close {
  background-image: url('../../../images/close_icon.svg');
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-style: none;
  width: 41px;
  height: 41px;
  top: -43px;
  left: 427px;
}

@media screen and (max-width: 570px) {
  .popup__btn-close {
    left: 248px;
  }
}
