.popup__btn-close {
  background-image: url('../../../images/close_icon.svg');
  background-color: transparent;
  border-style: none;
  width: 41px;
  height: 41px;
  align-self: flex-end;
  top: -41px;
  right: -41px;
  position: absolute;
}

@media screen and (max-width: 320px) {
  .popup__btn-close {
    width: 30px;
    height: 30px;
    top: -32px;
    right: -32px;
  }
}
