.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 428px;
  align-items: center;
}

@media screen and (max-width: 740px){
  .profile__info{
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    width: 100%;
    justify-content: center;
  }
}
