.profile__btn_type_edit {
  background-image: url('../../../../images/edit.svg');
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-size: 7px 7px;
  margin-left: 24px;

}

@media screen and (max-width: 320px) {
  .profile__btn_type_edit {
    font-size: 14px;
    line-height: 17px;
    width: 18px;
    height: 18px;
    background-size: 5px 5px;
    margin-left: 12px;
    display: inline-block;
  }
}
