.profile__btn_type_add {
  background-image: url('../../../../images/plus.svg');
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-size: 22px 22px;
  justify-self: end;
}

@media screen and (max-width: 320px) {
  .profile__btn_type_add {
    max-width: 282px;
    background-size: 16px 16px;
    width: 100%;
    margin-top: 36px;
    justify-self: center;
  }
}
