.profile__btn_type_add {
  background-image: url('../../../../images/plus.svg');
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-size: 22px 22px;
  justify-self: end;
}
@media screen and (max-width: 740px) {
  .profile__btn_type_add {
    justify-self: start;
    grid-column: span 1/-1;

  }}
  @media screen and (max-width: 480px) {
    .profile__btn_type_add {
      width: 100%;
      max-width: 282px;
    background-size: 16px 16px;
    margin-top: 36px;
    }
  }
