.form__input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  width: 100%;
  border-style: none;
  padding-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .form__input {
    font-size: 12px;
  }
}
